<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>User Data Table</h2>

    <table>
        <thead>
            <tr>
                <th>Users_id</th>
                <th>admin_check</th>
                <th>passw</th>
                <th>photo</th>
                <th>surname</th>
                <th>name</th>
                <th>patronymic</th>
                <th>sex</th>
                <th>passport_id</th>
                <th>city</th>
                <th>phone_number</th>
                <th>email_address</th>
                <th>work_email_address</th>
                <th>snils</th>
                <th>inn</th>
                <th>medical_policy</th>
                <th>documents_id</th>
                <th>salary</th>
                <th>employment_date</th>
                <th>vacation_date</th>
                <th>probation</th>
                <th>distant_work</th>
                <th>country</th>
            </tr>
        </thead>
        <tbody>
            {% for person in users1 %}
            <tr>
                <td>{{person[0]}}</td>
                <td>{{person[1]}}</td>
                <td>{{person[2]}}</td>
                <td>{{person[3]}}</td>
                <td>{{person[4]}}</td>
                <td>{{person[5]}}</td>
                <td>{{person[6]}}</td>
                <td>{{person[7]}}</td>
                <td>{{person[8]}}</td>
                <td>{{person[9]}}</td>
                <td>{{person[10]}}</td>
                <td>{{person[11]}}</td>
                <td>{{person[12]}}</td>
                <td>{{person[13]}}</td>
                <td>{{person[14]}}</td>
                <td>{{person[15]}}</td>
                <td>{{person[16]}}</td>
                <td>{{person[17]}}</td>
                <td>{{person[18]}}</td>
                <td>{{person[19]}}</td>
                <td>{{person[20]}}</td>
                <td>{{person[21]}}</td>
                <td>{{person[22]}}</td>
            </tr>
            {% endfor %}
            <tr>
            </tr>
        </tbody>
    </table>
    <button id = "Tables" onclick = "toURL('/Users_table')">
            <p>В таблицу "Пользователи"</p>
    </button>

    <script>
        function toURL(path){
            location.href = path;
        }
    </script>
</body>
</html>
